.ToolBar{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    height:40px;
    align-items: center;
    padding: 10px;
    top:0;
    left: 0;
    z-index: 90;
    box-sizing: border-box;
    
}
@media(max-width:500px){
    .NavigationItems{
        display: none;
    }
}

@media(min-width:500px){
    .Menu{
        display: none;
    }
}


